.navbar {
  display: flex;
  justify-content: center;
  background-color: rgba(192, 192, 192, 0.5);
  align-items: center;
}

.link {
  text-decoration: none;
  font-size: 20px;
  color: white;
  font-size: 25px;
  font-family: Gabriola;
  padding: 30px 60px;
  display: flex;
}

.link:hover {
  background-color: rgba(192, 192, 192, 0.447);
  color: rgb(17, 34, 83);
}

.iconImage {
  width: 30px;
  height: 30px;
  margin: auto 20px;
  cursor: pointer;
}

.iconImage:hover {
  scale: 1.2;
}

/* tablet */
@media only screen and (max-width: 1200px) {
  .navbar {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    background-color: transparent;
  }
}

/* smartphone */
@media only screen and (max-width: 600px) {
  .navbar {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }

  .link {
    font-size: 22px;
    padding: 12px;
  }
}
