.errorContainer {
  text-align: center;
  margin: 100px;
  background-color: white;
}

.errorContainer * {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.errorHeading {
  font-size: 40px;
  padding-top: 50px;
}

.errorText {
  font-size: 20px;
  margin-top: 20px;
}

.errorImage {
  height: 260px;
  width: auto;
  margin-top: 50px;
}

@media (max-width: 1200px) {
  .errorContainer {
    margin: 50px;
  }

  .errorHeading {
    font-size: 25px;
    padding-top: 30px;
  }

  .errorText {
    font-size: 20px;
    margin-top: 10px;
  }
}
