@import url("https://fonts.googleapis.com/css2?family=Ubuntu&display=swap");

.section {
  background-image: url("../images/loginBackground.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: Gabriola;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 600px;
}

.form h5 {
  font-size: 40px;
  margin-bottom: 60px;
  font-weight: bold;
  color: beige;
  margin-top: 20px;
}

.form-row {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.form-input {
  padding: 10px 20px;
  height: 40px;
  width: 300px;
  font-size: 18px;
  border: none;
  background-color: beige;
  border-radius: 4px;
}

.btn,
.btn-link {
  align-items: center;
  justify-content: center;
  color: #fff;
  border: none;
  cursor: pointer;
  border-radius: 4px;
  margin: 7px;
}

.btn {
  margin-top: 40px;
  height: 50px;
  width: 200px;
  background-color: beige;
  color: rgb(30, 31, 101);
  font-size: 18px;
}

.btn-link {
  display: flex;
  text-decoration: none;
  height: 40px;
  width: 100px;
  background-color: silver;
  color: rgb(30, 31, 101);
  font-size: 14px;
}

.btn:hover {
  background-color: rgb(204, 204, 183);
}

.btn-link:hover {
  background-color: rgba(249, 246, 197, 0.489);
}
