.userProfile {
  background-color: #f9f9f9;
  border: 1px solid #e0e0e0;
  padding: 20px;
  margin-bottom: 20px;
  border-radius: 8px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.userName {
  font-size: 1.8rem;
  margin-bottom: 10px;
}

.userInfo {
  font-size: 1.2rem;
  margin: 8px 0;
}

.soldProducts {
  background-color: #f9f9f9;
  border: 1px solid #e0e0e0;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.soldProductsTitle {
  font-size: 1.8rem;
  margin-bottom: 20px;
}

.purchaseContainer {
  margin-bottom: 20px;
}

.purchaseTitle {
  font-size: 1.4rem;
  margin-bottom: 10px;
}

.productList {
  list-style: none;
  padding: 0;
}

.productItem {
  background-color: #fff;
  border: 1px solid #ddd;
  padding: 15px;
  margin-bottom: 10px;
  border-radius: 8px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.productInfo {
  flex: 1;
}

.productId {
  font-weight: bold;
}

.productDescription {
  margin: 5px 0;
  color: #555;
}

.productQuantity {
  margin: 5px 0;
}

/* Add more styling for other product information if needed */
