.userProfile {
  margin: 80px 0;
  background-color: rgba(255, 255, 255, 0.181);
  padding: 20px 80px;
  font-family: Gabriola;
}

.userProfile h1 {
  color: white;
  font-size: 50px;
}

.userProfile * {
  font-weight: lighter;
  color: silver;
  margin: 0;
  font-size: 25px;
}

.soldProducts {
  background-color: #f9f9f9;
  padding: 50px;
}

.soldProductsTitle {
  margin-bottom: 50px;
  color: rgb(17, 34, 83);
  font-family: Gabriola;
  font-size: 35px;
}

.purchaseContainer {
  padding: 20px;
  font-family: Gabriola;
}

.productList {
  list-style: none;
  padding: 0;
  font-size: 18px;
}

.productItem {
  border-top: 1px dashed #ccc;
}

.productQuantity {
  color: #666;
}

.purchaseHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.purchaseTitle {
  font-size: 25px;
  margin: 0;
}

.purchaseDate {
  font-size: 20px;
  color: #666;
  margin: 0;
}
