html,
body {
  margin: 0;
  height: 100%;
  background-image: url(https://www.reeds.com/media/wysiwyg/Jewelry-L1-Content/Jewelry_D_3.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100%;
}

.our-story {
  padding: 50px 850px 70px 50px;
}

.our-story * {
  margin: 0;
  text-align: center;
  font-style: italic;
  line-height: 35px;
  font-family: Georgia, "Times New Roman", Times, serif;
  color: silver;
}

.our-story h1 {
  padding-bottom: 15px;
}

.category-links {
  display: flex;
  justify-content: center;
  gap: 60px;
  text-align: center;
  padding: 80px;
  background-color: white;
  margin: 50px;
}

.category-link {
  text-decoration: none;
  color: rgb(17, 34, 83);
  background-color: #f5f5f5;
  padding: 15px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.038);
  transition: background-color 0.3s, transform 0.3s;
  font-family: Gabriola;
}

.category-link:hover {
  background-color: #ddd;
  transform: translateY(-3px);
}

.category-title {
  font-size: 25px;
  font-weight: bold;
  margin-bottom: 8px;
}

.category-image {
  width: 150px;
  height: 150px;
  object-fit: cover;
  border-radius: 8px;
}

@media (max-width: 1410px) {
  .our-story {
    padding: 50px;
    background-color: rgba(32, 71, 96, 0.808);
  }

  .our-story * {
    color: white;
  }

  .category-links {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}
